@keyframes zoom-in {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: none;
  }
}
.is-animated {
  animation: .6s  zoom-in;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0px, 100%, 0px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.fadeInUp {
  animation-name: fadeInUp;
}

.animated {
  animation-duration: .8s;
  animation-fill-mode: both;
}

.box-error {
  border: 1px solid #cc0000;
}

.my_error {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: #ffffff;
  display: none;
  padding-left: 15px;
  color: #cc0000;
}
.my_error.active {
  display: block;
}

.super {
  font-size: .7em;
  line-height: 0;
  vertical-align: .4em;
}

.no_error {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #ffffff;
  padding-top: 50px;
  display: none;
}
.no_error.active {
  display: block;
}

.no_wrap {
  white-space: nowrap;
}

.zig_zag {
  position: absolute;
  bottom: 0;
  left: 15px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}
.modal p {
  margin-bottom: 20px;
}
.modal.fade {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
.modal.fade .modal_center {
  -webkit-transform: translateY(-75%);
  -moz-transform: translateY(-75%);
  -o-transform: translateY(-75%);
  transform: translateY(-75%);
  top: 50%;
  margin-top: 0;
  margin-bottom: 0;
}
.modal.fade .modal_dialog {
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  width: 900px;
  margin: 30px auto;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.modal.in {
  opacity: 1;
  display: block;
}
.modal.in .modal_center {
  -webkit-transform: translateY(-50%) !important;
  -moz-transform: translateY(-50%) !important;
  -o-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
}
.modal.in .modal_dialog {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal_content {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background: #ffffff;
  position: relative;
  background-clip: padding-box;
}

.modal_body {
  padding: 25px;
  overflow: hidden;
}
.modal_body img {
  display: block;
  margin: 0 auto 30px auto;
}

.modal_open {
  overflow: hidden;
}
.modal_open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

#portfolio_modal .modal_body {
  display: none;
}
#portfolio_modal .modal_body.selected {
  display: block;
}

body, header, footer, section, h1, h2, h3, h4, h5, h6, p, ul, li, form {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #4d4d4d;
}
body header, body section, body footer {
  float: none;
  clear: both;
  padding: 40px 0;
  width: 100%;
  overflow: hidden;
}
body h1, body h2, body h3, body h4, body .portfolio_name {
  font-family: "Lato", Helvetica, Arial, sans-serif;
}
body p, body ul.columns {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
body h1, body h4 {
  margin-bottom: 2px;
}
body h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
}
body h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.4;
}
body h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}
body h4.title {
  float: left;
  margin-right: 10px;
}
body p, body ul.columns {
  font-size: 16px;
  font-weight: normal;
  line-height: 25px;
}
body p.company_name, body ul.columns.company_name {
  padding: 3px 0;
  line-height: 1.5;
}
body p.description, body ul.columns.description {
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
}
body ul.special {
  text-transform: uppercase;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}
body ul.special li {
  margin: 8px 0 10px 20px;
  cursor: pointer;
}
body ul.special li span.cool-link::after, body ul.special li span.cool-link:hover::after {
  content: '';
  display: block;
  width: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  height: 1px;
  background: #4d4d4d;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}
body ul.special li span:hover.cool-link::after {
  width: 100%;
}
body ul.special > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
body input, body textarea, body .my_error {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
}
body input, body textarea {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 40px;
}
body input[type=submit], body textarea[type=submit] {
  width: 0;
  border: none;
  cursor: pointer;
}
body input:focus, body textarea:focus {
  outline: none !important;
  border: 2px solid #3333ff;
}
body input {
  height: 50px;
}
body textarea {
  height: 140px;
  padding: 15px 20px;
}
body hr, body hr.mobile_hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #e3e3e3;
}
body hr.mobile_hr {
  display: none;
}
body .section {
  border-top: 1px solid #e3e3e3;
}
body .cta {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.66;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  padding: 15px;
  text-align: center;
  margin-right: 30px;
  min-width: 170px;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 2px;
}
body .cta.blue {
  background-color: #3333ff;
  color: #ffffff;
}
body .cta.grey {
  background-color: #efefef;
}
body .cta:hover {
  background-color: #252525;
  color: #ffffff;
}
body form, body .element_wrapper, body .row {
  position: relative;
}
body .cols_33, body .cols_50, body .cols_66, body .cols_100, body .content_wrapper, body .row, body .element_wrapper {
  overflow: hidden;
}
body .content_wrapper {
  width: 1280px;
  margin: 0 auto;
}
body .row {
  margin-left: -15px;
  margin-right: -15px;
}
body .cols_25, body .cols_33, body .cols_50, body .cols_66, body .cols_100, body .experience_row {
  padding: 0 15px;
  float: left;
}
body .cols_25 {
  width: 25%;
}
body .cols_33 {
  width: 33.333333%;
}
body .cols_50 {
  width: 50%;
}
body .cols_66 {
  width: 66.666666%;
}
body .cols_100 {
  width: 100%;
}
body .about_me_content {
  float: left;
}
body .about_me_content .about_me_text, body .about_me_content .about_me_info, body .about_me_content .about_me_btns {
  margin-bottom: 20px;
}
body .about_me_content .about_me_info {
  overflow: hidden;
}
body .about_me_content .about_me_info p {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  margin-bottom: 10px;
}
body .about_me_content .about_me_info p span {
  padding-left: 90px;
  display: block;
}
body .about_me_content .about_me_info p span.span_title {
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 0;
  float: left;
}
body .about_me_content .about_me_info p span.span_icons a {
  padding-right: 35px;
  margin-bottom: 5px;
  min-width: 16px;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
}
body .about_me_content .about_me_info p span.span_icons a.my_facebook {
  background: url("../images/icons8-facebook-50.png") top left no-repeat;
  background-size: contain;
}
body .about_me_content .about_me_info p span.span_icons a.my_facebook:hover {
  background: url("../images/icons8-facebook-hover.png") top left no-repeat;
  background-size: contain;
}
body .about_me_content .about_me_info p span.span_icons a.my_linkedin {
  background: url("../images/icons8-linkedin-50.png") top left no-repeat;
  background-size: contain;
}
body .about_me_content .about_me_info p span.span_icons a.my_linkedin:hover {
  background: url("../images/icons8-linkedin-hover.png") top left no-repeat;
  background-size: contain;
}
body .about_me_content .about_me_info p span.span_icons a.my_github {
  background: url("../images/icons8-github-50.png") top left no-repeat;
  background-size: contain;
}
body .about_me_content .about_me_info p span.span_icons a.my_github:hover {
  background: url("../images/icons8-github-hover.png") top left no-repeat;
  background-size: contain;
}
body .about_me_image {
  float: right;
}
body .about_me_image .hello_image_holder {
  position: relative;
  padding-bottom: 56.2%;
}
body .about_me_image .hello_image_holder img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
body .cols_25 {
  position: relative;
  margin-bottom: 30px;
}
body .cols_25 p {
  font-size: 15px;
}
body .cols_25 .portfolio_parent {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 15px;
}
body .cols_25 .portfolio_parent .portfolio_img {
  position: relative;
  width: 100%;
  margin: 0;
  overflow: hidden;
  border-radius: 2px;
}
body .cols_25 .portfolio_parent .portfolio_img img {
  width: 100%;
  height: auto;
  border-radius: 2px;
  vertical-align: middle;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
body .cols_25 .portfolio_type p {
  margin-top: 10px;
}
body .cols_25 .portfolio_type p + P {
  margin-top: 0;
}
body .cols_25:hover .portfolio_img img {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}
body .cols_25:hover .portfolio_name span {
  text-decoration: underline;
  color: #3333ff;
}
body .cols_25 a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body header {
  padding-top: 20px;
  padding-bottom: 20px;
  transition: all .6s;
  position: fixed;
  background: #ffffff;
  top: 0;
  left: 0;
  z-index: 1000;
}
body header #hamburger {
  height: auto;
  float: right;
  padding: 15px;
  cursor: pointer;
  transform: translate(0, 0);
  display: none;
}
body header #hamburger .line-1,
body header #hamburger .line-2,
body header #hamburger .line-3 {
  background-color: blue;
  height: 4px;
  width: 24px;
  margin-bottom: 4px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
body header #hamburger .line-1.is-clicked,
body header #hamburger .line-2.is-clicked,
body header #hamburger .line-3.is-clicked {
  background-color: white;
}
body header #hamburger .line-1.is-clicked {
  transform: translateY(8.5px) rotate(45deg);
  transform-origin: center center;
}
body header #hamburger .line-2.is-clicked {
  transform: translateX(-100%);
  opacity: 0;
}
body header #hamburger .line-3.is-clicked {
  transform: translateY(-7px) rotate(-45deg);
  transform-origin: center center;
}
body header ul#topnav {
  text-align: right;
  padding-right: 0;
}
body header.sticky {
  box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.2);
}
body header + section#my_hello {
  padding-top: 103px;
}
body section#my_experience ul.columns {
  padding-left: 17px;
  -moz-column-count: 2;
  -moz-column-gap: 2.5em;
  -webkit-column-count: 2;
  -webkit-column-gap: 2.5em;
  column-count: 2;
  column-gap: 2.5em;
}
body section#my_portfolio ul.special {
  overflow: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
body section#my_portfolio ul.special li:first-child {
  margin-left: 0;
  padding-left: 0;
}
body section#my_portfolio ul.special li.active {
  color: #3333ff;
}
