body, header, footer, section, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #4d4d4d;
}
body header, body section, body footer {
  float: none;
  clear: both;
  padding: 40px 0;
  width: 100%;
  overflow: hidden;
}
body h1, body h2, body h3, body h4, body .portfolio_name {
  font-family: "Lato", Helvetica, Arial, sans-serif;
}
body p {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
body h1, body h4 {
  margin-bottom: 2px;
}
body h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
}
body h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.4;
}
body h4, body .portfolio_name {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}
body h4.job_title, body .portfolio_name.job_title {
  float: left;
  margin-right: 10px;
}
body p {
  font-size: 16px;
  font-weight: normal;
  line-height: 25px;
}
body p.company_name {
  padding: 3px 0;
  line-height: 1.5;
}
body p.job_description {
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
}
body ul {
  text-transform: uppercase;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  padding-right: 15px;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}
body ul li {
  margin: 8px 0 10px 20px;
  cursor: pointer;
}
body ul > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
body hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
body .section {
  border-top: 1px solid #e3e3e3;
}
body .cta {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.66;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  padding: 15px;
  text-align: center;
  margin-right: 30px;
  min-width: 170px;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 2px;
}
body .cta.blue {
  background-color: #3333ff;
  color: #ffffff;
}
body .cta.grey {
  background-color: #efefef;
}
body .cta:hover {
  background-color: #252525;
  color: #ffffff;
}
body .cols_33, body .cols_50, body .cols_66, body .cols_100, body .content_wrapper, body .row {
  overflow: hidden;
}
body .content_wrapper {
  width: 1280px;
  margin: 0 auto;
}
body .row {
  margin-left: -15px;
  margin-right: -15px;
}
body .cols_25, body .cols_33, body .cols_50, body .cols_66, body .cols_100, body .experience_row {
  padding: 0 15px;
  float: left;
}
body .cols_25 {
  width: 25%;
}
body .cols_33 {
  width: 33.333333%;
}
body .cols_50 {
  width: 50%;
}
body .cols_66 {
  width: 66.666666%;
}
body .cols_100 {
  width: 100%;
}
body .about_me_content .about_me_text, body .about_me_content .about_me_info, body .about_me_content .about_me_btns {
  margin-bottom: 20px;
}
body .about_me_content .about_me_info {
  overflow: hidden;
}
body .about_me_content .about_me_info p {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  margin-bottom: 10px;
}
body .about_me_content .about_me_info p span {
  padding-left: 90px;
  display: block;
}
body .about_me_content .about_me_info p span.span_title {
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 0;
  float: left;
}
body .about_me_content .about_me_info p span.span_icons a {
  padding-right: 35px;
  margin-bottom: 5px;
  min-width: 16px;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
}
body .about_me_content .about_me_info p span.span_icons a.my_facebook {
  background: url("../images/icons8-facebook-50.png") top left no-repeat;
  background-size: contain;
}
body .about_me_content .about_me_info p span.span_icons a.my_facebook:hover {
  background: url("../images/icons8-facebook-hover.png") top left no-repeat;
  background-size: contain;
}
body .about_me_content .about_me_info p span.span_icons a.my_linkedin {
  background: url("../images/icons8-linkedin-50.png") top left no-repeat;
  background-size: contain;
}
body .about_me_content .about_me_info p span.span_icons a.my_linkedin:hover {
  background: url("../images/icons8-linkedin-hover.png") top left no-repeat;
  background-size: contain;
}
body .about_me_content .about_me_info p span.span_icons a.my_github {
  background: url("../images/icons8-github-50.png") top left no-repeat;
  background-size: contain;
}
body .about_me_content .about_me_info p span.span_icons a.my_github:hover {
  background: url("../images/icons8-github-hover.png") top left no-repeat;
  background-size: contain;
}
body .about_me_image .hello_image_holder {
  position: relative;
  padding-bottom: 56.2%;
}
body .about_me_image .hello_image_holder img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
body .cols_25 {
  position: relative;
  margin-bottom: 30px;
}
body .cols_25 .portfolio_parent {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin-bottom: 15px;
}
body .cols_25 .portfolio_parent .portfolio_img {
  position: relative;
  width: 100%;
  height: 100%;
  float: none;
  clear: both;
  -webkit-transition: transform .5s;
  -moz-transition: transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
  background: url("../images/small-fpo.jpg") center center no-repeat;
}
body .cols_25:hover .portfolio_img {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}
body .cols_25:hover .portfolio_name span {
  text-decoration: underline;
  color: #3333ff;
}
body .cols_25 a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body header ul {
  text-align: right;
}
body section#my_portfolio ul {
  margin-top: 20px;
  margin-bottom: 20px;
}
body section#my_portfolio ul li:first-child {
  margin-left: 0;
  padding-left: 0;
}
body section#my_portfolio ul li.active {
  color: #3333ff;
}
