// FONT VARIABLES
$lato: "Lato", Helvetica, Arial, sans-serif;
$roboto: "Roboto", Helvetica, Arial, sans-serif;

//MIXINS
@mixin transition($transition) {
	-webkit-transition: $transition;
	   -moz-transition: $transition;
	     -o-transition: $transition;
	        transition: $transition;
}

@mixin boxsizing($boxsizing) {
	-webkit-box-sizing: $boxsizing;
	   -moz-box-sizing: $boxsizing;
	        box-sizing: $boxsizing;
}

@mixin allfontproperties ($family, $fsize, $fweight) {
	font: {family: #{$family}; size:#{$fsize}; weight:#{$fweight};}
} 

@mixin fontsizeweightline ($fsize, $fweight, $lheight) {
	font: {size:#{$fsize}; weight:#{$fweight};}
	line: {height:#{$lheight};}
}

//animmations for filtered categories
@keyframes zoom-in {
	0% {
		transform: scale(.1);
	}

	100% {
		transform:none;
	}
}

.is-animated {
	animation: .6s  zoom-in;
}

//animation for form validation
@keyframes fadeInUp {
	0% {
	    opacity: 0;
	    transform: translate3d(0px, 100%, 0px);
	}

	100% {
	    opacity: 1;
	    transform: none;
	}
 }

 .fadeInUp {
  	animation-name: fadeInUp;
  }
  
  .animated {
    animation-duration: .8s;
    animation-fill-mode: both;
  }

.box-error {
	border: 1px solid #cc0000;
}

.my_error {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30px;
	background: #ffffff;
	display: none;
	padding-left: 15px;
	color: #cc0000;


	&.active {
		display: block;
	}
}

.no-error {

	position: absolute;
	left:  0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: #ffffff;
	display: none;
}

body, header, footer, section, h1, h2, h3, h4, h5, h6, p, ul, li, form {
	margin:  0;
	padding: 0;
}

* {
	@include boxsizing(border-box);
}
body {
	color: #4d4d4d;
	header, section, footer {
		float: none;
		clear: both;
		padding: 40px 0;
		width: 100%;
		overflow: hidden;
	}

	h1, h2, h3, h4, .portfolio_name {
		font-family: $lato;
	}

	p{
		font-family: $roboto;
	}

	h1, h4 {
		margin-bottom: 2px;
	}

	h1 {
		@include fontsizeweightline (36px, 700, 45px);
	}

	h2 {
		@include fontsizeweightline (30px, 700, 1.4);
	}

	h4, .portfolio_name {
		@include fontsizeweightline (18px, 700, 1.5);

		&.job_title {
			float: left;
			margin-right: 10px;
		}
	}

	p {
		@include fontsizeweightline (16px, normal, 25px);

		&.company_name {
			padding: 3px 0;
			line-height: 1.5;
		}

		&.job_description {
			font-style: italic;
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}

	ul {
		text-transform: uppercase;
		font-family: $lato;

			padding-right: 15px;
			@include fontsizeweightline (12px, 700, 20px);

			li {
				margin: 8px 0 10px 20px;
				cursor: pointer;

				span {
					&.cool-link {

					 	&::after, &:hover::after {

					 		content: '';
						    display: block;
						    width: 0;
						    margin-left: auto;
						    margin-right: auto;
						    margin-top: 4px;
						    height: 1px;
						    background: #4d4d4d;
						    @include transition(width .3s);
					 	}
				 	}

				&:hover.cool-link::after {width: 100%;}
				}
			}

			& > li{
				display: inline-block;
				padding-left: 5px;
				padding-right: 5px;
			}
	}//end ul

	input, textarea, .my_error {
		font-family: $lato;
		@include fontsizeweightline (14px, normal, 1.4);
	}

	input, textarea {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 40px;
		
		
		&[type=submit] {

			width: 0;
			border: none;
			cursor: pointer;
		}
	
		&:focus {
			outline: none!important;
			border: 2px solid #3333ff;
		}		
	}

	input {
		height: 50px;

	}

	textarea {

		height: 140px;
		padding: 15px 20px;
	}

	hr {
		@include boxsizing(content-box);
		height: 0;
		margin-top: 20px;
		margin-bottom: 20px;
		border: 0;	
		border-top: 1px solid #eeeeee;

	}

	.section {
		border-top: 1px solid #e3e3e3;
	}

	.cta {
		
		font-family: $lato;
		font-size: 12px;
		font-weight: bold;
		line-height: 1.66;
		text-transform: uppercase;
		text-decoration: none;
		color: #000000;
		padding: 15px;
		text-align: center;
		margin-right: 30px;
		min-width: 170px;
		display: inline-block;
		@include transition(all 0.3s ease);
		border-radius: 2px;
		
		&.blue {
			background-color: #3333ff;
			color: #ffffff;
		}

		&.grey {
			background-color: #efefef;
		}

		&:hover {

				background-color: #252525;
				color: #ffffff;
		}
	}

	.cols_33, .cols_50, .cols_66, .cols_100, .content_wrapper, .row {
		overflow: hidden;
	}

	.content_wrapper {
		width: 1280px;
		margin: 0 auto;
	}

	.row {

		margin-left: -15px;
		margin-right: -15px;
	}
	.cols_25, .cols_33, .cols_50, .cols_66, .cols_100, .experience_row {
		
		padding: 0 15px;
		float: left;
	}

	.cols_25 {
		width: 25%;
	}

	.cols_33 {

		width: 33.333333%;
	}

	.cols_50 {

		width: 50%;
	}

	.cols_66 {
		width: 66.666666%;
	}

	.cols_100 {
		width: 100%;
	}

	.about_me_content {

		.about_me_text, .about_me_info, .about_me_btns {
			
			//@include boxsizing (border-box);
			margin-bottom: 20px;
		}

		.about_me_info {
			overflow: hidden;

			p {
				@include fontsizeweightline (14px, normal, 20px);
				margin-bottom: 10px;

				span {
					padding-left: 90px;
					display: block;
				}

				span.span_title {
					font-weight: bold;
					text-transform: uppercase;
					padding-left: 0;
					float: left;
				}

				span.span_icons {
					
					a {
						padding-right: 35px;
						margin-bottom: 5px;
						min-width: 16px;
						text-align: center;
						@include fontsizeweightline (14px, normal, 1.4);

						&.my_facebook {

							background: url('../images/icons8-facebook-50.png') top left no-repeat;
							background-size: contain;

							&:hover {
								background: url('../images/icons8-facebook-hover.png') top left no-repeat;
								background-size: contain;
							}
						}

						&.my_linkedin {

							background: url('../images/icons8-linkedin-50.png') top left no-repeat;
							background-size: contain;

							&:hover {
								background: url('../images/icons8-linkedin-hover.png') top left no-repeat;
								background-size: contain;
							}

						}

						&.my_github {

							background: url('../images/icons8-github-50.png') top left no-repeat;
							background-size: contain;

							&:hover {
								background: url('../images/icons8-github-hover.png') top left no-repeat;
								background-size: contain;
							}
						}
					}
				}
			}
		}
	}//end about_me_content

	.about_me_image {

		.hello_image_holder {

			position: relative; 
			padding-bottom: 56.2%;

			img {

				position: absolute; 
				object-fit: cover; 
				width: 100%; 
				height: 100%;
			}
		}
	}

	.cols_25 {
		
		position: relative;
		margin-bottom: 30px;
		
		.portfolio_parent {
			position: relative;
			width: 100%;
			height: 300px;
			overflow: hidden;
			margin-bottom: 15px;

			.portfolio_img {
				position: relative;
				width: 100%;
				height: 100%;
				float: none;
				clear: both;
				-webkit-transition: transform .5s;
			  	   -moz-transition: transform .5s;
			 	     -o-transition: transform .5s;
			  	        transition: transform .5s;
			  	        background: url('../images/small-fpo.jpg')center center no-repeat;

			  	&.all {
			  	 	
			  	}
			}
		}//end portfolio_parent



		&:hover {

			.portfolio_img {

				-webkit-transform: scale(1.5);
				   -moz-transform: scale(1.5);
				     -o-transform: scale(1.5);
				        transform: scale(1.5);
			}
			.portfolio_name {

				span {

					text-decoration: underline;
					color: #3333ff;

				}
			}
		}

		a {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		
	}


	header {
		padding-top: 20px;
		padding-bottom: 20px;
		transition: all .6s;
		
		

		ul {
			text-align: right;
			padding-right: 0;

		}
		&.sticky {
		position: fixed;
		background: #ffffff;
		top: 0;
		left: 0;
		z-index: 1000;
			box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.2);
		}
	}

	header.sticky + section#my_hello {padding-top: 83px;}
	section#my_portfolio {
		ul {

			margin-top: 20px;
			margin-bottom: 20px;
			li {

				&:first-child {
					margin-left: 0;
					padding-left: 0;
				}

				&.active {
					color: #3333ff;
				}
			}
		}
	}
}//end body