@import url('main.scss');
@media only screen and (max-width: 1280px) { 
	body {
		.row {
			margin-left: 0;
			margin-right: 0;
		}
		.content_wrapper {

			width:  100%;
		}
		header {

			ul {padding-right: 15px;}
		}
	}
}

@media only screen and (max-width: 990px) { 
	body {

		header {

			#hamburger {display: block;}
			ul {
				display: none;
				width: 100%;
				text-align: center;
				clear: both;
				-webkit-transition: transform 0.3s ease;
				  -moz-transition: transform 0.3s ease;
				  -o-transition: transform 0.3s ease;
				  transition: transform 0.3s ease;
				  -webkit-transform: translateY(-100%);
				  -moz-transform: translateY(-100%);
				  -o-transform: translateY(-100%);
				  transform: translateY(-100%);
				li {
					display: block;
				}

				&.ulanimated {
					display: block;
					color: #ffffff;
					-webkit-transform: translateY(0);
				  -moz-transform: translateY(0);
				  -o-transform: translateY(0);
				  transform: translateY(0);
				}
			}
			&.responsive_sticky {
				width: 100%;
				height: 100%;
				bottom: 0;
				right: 0;
				
				background-color: blue;
			}
		}
	}
}