@import url("main.scss");
@media only screen and (max-width: 1280px) {
  body .row {
    margin-left: 0;
    margin-right: 0;
  }
  body .content_wrapper {
    width: 100%;
  }
  body .cols_25 {
    min-height: 425px;
  }
  body header ul.triggernav {
    padding-right: 15px;
  }
}
@media only screen and (max-width: 1075px) {
  body .cols_25 {
    min-height: 360px;
  }
}
@media only screen and (max-width: 990px) {
  body header {
    padding-top: 0;
    padding-bottom: 0;
  }
  body header #hamburger {
    display: block;
  }
  body header ul#topnav {
    display: none;
    width: 100%;
    text-align: center;
    clear: both;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  body header ul#topnav li {
    display: block;
  }
  body header ul#topnav.ulanimated {
    display: block;
    color: #ffffff;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  body header.responsive_sticky {
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    background-color: blue;
  }
  body ul.special li {
    margin: 8px 0 10px 0;
  }
}
@media only screen and (max-width: 960px) {
  .section_sidebar {
    padding-bottom: 0;
  }
}
@media only screen and (max-width: 940px) {
  body h1 {
    font-size: 30px;
    margin-top: 30px;
  }
  body h2 {
    font-size: 24px;
  }
  body p, body ul.columns, body ul.no_columns {
    font-size: 14px;
    line-height: 1.4;
  }
  body p li, body ul.columns li, body ul.no_columns li {
    margin-bottom: 10px;
  }
  body .clear {
    clear: both;
  }
  body .cols_33, body .cols_50, body .cols_66 {
    width: 100%;
  }
  body .cols_66 .cols_50, body .cols_66 .experience_row {
    padding-left: 0;
    padding-right: 0;
  }
  body .cols_66 .cols_50 hr.mobile_hr, body .cols_66 .experience_row hr.mobile_hr {
    display: block;
  }
  body .cols_66 .cols_50:first-child, body .cols_66 .experience_row:first-child {
    padding: 20px 0;
    padding-bottom: 0;
  }
  body .cols_25 {
    width: 50%;
  }
  body .experience_row.extra_padding img {
    position: static;
    display: block;
    width: 100px;
  }

  .modal.fade .modal_center {
    top: 0;
  }
  .modal.fade .modal_dialog {
    width: 100%;
  }
  .modal.fade .modal_dialog img {
    width: 100%;
    height: auto;
  }
  .modal.fade .modal_dialog .no_error img, .modal.fade .modal_dialog .loading img {
    width: auto;
  }
  .modal.in .modal_center {
    transform: translateY(0) !important;
    margin-top: 0;
  }

  .modal_body {
    padding-left: 15px;
    padding-right: 15px;
  }

  section#my_hello .about_me_content, section#my_hello .about_me_image {
    width: 100% !important;
  }
  section#my_hello .about_me_image {
    float: none;
  }
}
@media only screen and (max-width: 620px) {
  body h4.title {
    float: none;
  }
}
@media only screen and (max-width: 480px) {
  body h1 {
    font-size: 25px;
  }
  body .cta {
    min-width: 100%;
  }
  body .cta + .cta {
    margin-top: 15px;
  }
  body input.cta.blue {
    margin-bottom: 0;
  }
  body input, body textarea {
    transform: perspective(0);
  }
  body .cols_25 {
    width: 100%;
  }
  body section#my_experience ul.columns {
    -moz-column-count: 1;
    -moz-column-gap: none;
    -webkit-column-count: 1;
    -webkit-column-gap: none;
    column-count: 1;
    column-gap: none;
  }

  .modal_body {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (max-width: 410px) {
  body .experience_row.extra_padding img {
    width: 100%;
  }
}
